body{
    background-color: #dfdfdf; 
    font-family:'Lucida Sans Unicode'; 
    padding:5px
}

#root{
    background-color:whitesmoke;
    padding:2px 
}

.tabs {
    width:100%;
    display: inline-block;
    vertical-align: top;
}

.tab-links {
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    border-bottom: 1px solid #868686;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
    position: relative;
    top: 5px;
}

.tab-link {
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 41px;
    top: -6px;
    left: -1px;
}

/*selected tab */
.tab-link-active {
    font-weight: bold;
    border: 1px solid #868686;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: skyblue;
}

.tab-content {
    padding: 15px;
    border-top: 1px solid transparent;
}



